//  <---- Colors ---->

// Neutral
$color-black-primary: #242424;
$color-gray-primary: #e5e7eb;
$color-white-dirty: #e5e7eb;

// Green
$color-green-light: #34d399;
$color-green-emerald-500: #059669;

// Blue
$color-blue-light: #60a5fa;
$color-blue-cyan-500: #06b6d4;

// Red
$color-red-light: #f43f5e;
$color-red-lighter: #fda4af;

// Purple
$color-purple-light: #8b5cf6;



// <---- Fonts ---->
$primary-font: 'Open Sans', sans-serif;
$secondary-font:  'Courgette', cursive;
$main-title-font: 'Great Vibes', cursive;